body{
    background: black;
    text-align: center;
}

.head{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    align-items: center;
}

.de{
    /* Note de indicate that download execursion */
    color: aquamarine;
    font-weight: normal;
    font-size: 30px;

}
.ftr{
    color: white;
    font-size: 17px;
    font-style: italic;
    text-align: right;
    color: gray;
}

.ads{
    width: 400;
    height: 720;
}


@media only screen and (max-width: 520px) {
    /* For mobile phones: */
    [class="col"] {
      width: 100%;
    }
  }